{% extends 'base.html' %}

{% block intro %}
  <a href="https://jquery.com/">jQuery</a> is a popular library that
  adds cross browser APIs for common tasks. However, it requires loading
  an extra library.
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
$(function() {
    $('a#users').bind('click', function() {
        $.getJSON('http://localhost:8080' + '/users',
            function(data) {
                $("#result").text(data.result);
            });
        return false;
    });
});
 </script>
{% endblock %}